.body{
    background: linear-gradient(to bottom right, red, yellow);
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    
    .term{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px 10px #888888;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    
    .term{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px 10px #888888;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    .term{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px 10px #888888;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    
    .term{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px 10px #888888;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-width:1280)  {
    
    .term{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px 10px #888888;
        width: 400px;
        height: 570px;
        align-items: center;
    }
}


@media (min-width: 1281px) {

    
  

    .term{
        border: 1px solid white;
        padding: 10px;
        box-shadow: 1px 2px 8px 1px #888888;
        width: 550px;
        height: 370px;
        align-items: center;
        margin-left: 400px;
        margin-top: 100px;
        transform: scale(1.2);
        background-color: white;
    
    }

    .agree{
        text-align: center;
        margin-top: 330px;
    
    }

    
}